/* .user-info-container {
  border: 1px solid black;
  width: 95%; 
  height: 75vh; 
  margin-left: 3%;
}

.profile-picture-container{
  border: 1px solid black; 
  height: 20vh;
  width: 25vh;
  margin-left: 3vh;
}

.user-meta-container{
  border: 1px solid black; 
  height: 50vh;
  margin-right: 1vh;
}

.header-container {
  display: flex;
  align-items: center; 
}

.navbar-container{
  margin-left: "80vh"; 
}

.search-bar {
  margin-left: auto; 
  margin-right: 10px; 
}

.nav-button-container{
  margin-left: 5vh;
}


.side-bar{
  background-color: rgb(228, 220, 220);
  height: 500px;
} */

.user-card-title{
  color: white;
  width: 100%;
  padding: 10px 20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;
  cursor: pointer;
}




.followed-card{
  font-weight: bold;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.mini-logo{
  height: 20px;
  width: auto; 
  object-fit: contain; 
  margin-left: 10px;
}


.img-border{
  border: 1px solid black;
}

.scrollable{
   max-height: 150px;
   overflow:scroll;
}

.team{
  border: 1px solid black;
  border-radius: 5px;
}

.team-font-size{
  font-size: .75rem;
}

.user-info-container{
  background-color: #E3E1E1;
}

.teams{
  background-color:#404143;
}

.navbar-custom {
  padding: 0.8rem 1rem;
  background-color: #9E9D9D; /* Or any other color that suits your theme */
  color: #fff;
}

.navbar-custom .navbar-brand, .navbar-custom .nav-link {
  color: #333;
}

.navbar-custom .nav-link:hover {
  color: #ddd; /* Slightly lighter color on hover */
}

.navbar-custom .form-control {
  margin-right: .5rem;
}

.navbar-custom .btn-outline-success {
  border-color: #28a745;
  color: #28a745;
}

.navbar-custom .btn-outline-success:hover {
  background-color: #28a745;
  color: #fff;
}

