.user-info-container {
  border: 1px solid black; /* Add black border */
  width: 95%; /* This remains percentage to avoid awkward resizing */
  height: 75vh; /* Adjust height */
  margin-left: 3%;
}

.profile-picture-container{
  border: 1px solid black; /* Add black border */
  height: 20vh;
  width: 25vh;
  margin-left: 3vh;
}

.user-meta-container{
  border: 1px solid black; /* Add black border */
  height: 50vh;
  margin-right: 1vh;
}

.header-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

.navbar-container{
  margin-left: "80vh"; /* Push the navbar to the right */
}

.search-bar {
  margin-left: auto; /* Push the search bar to the right */
  margin-right: 10px; /* Add some space to the right of the search bar */
}

.nav-button-container{
  margin-left: 5vh;
}


.side-bar{
  background-color: rgb(228, 220, 220);
  height: 500px;
}

.teams{
  background-color: rgb(118, 109, 109);
}
.img-border{
  border: 1px solid black;
}
.scrollable{
   max-height: 150px;
   
    overflow:scroll;

}
.team{
  border: 1px solid black;
  border-radius: 5px;
}
.team-font-size{
  font-size: .5rem;
}
